.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrap.data-fatch {
  height: 100%;
}

.traffic-light {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.light {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  margin-bottom: 10px;
  opacity: 0.3;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: greenyellow;
}

.red {
  background-color: red;
}

input {
  appearance: none;
}

input:checked {
  opacity: 1;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

.back {
  margin-top: 20px;
}

.countTitle {
  text-align: center;
}
.countBtn {
  margin: 10px;
}
